body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#brain {
  max-height: 1.5em;
  vertical-align: bottom;
  margin: 0;
}

#skills {
  max-height: 50vh;
  overflow: scroll;
}

.logout{
  display: flex;
  justify-content: flex-end;
}

.logoutIcon {
  height: 2%;
  width: 2%;
}

.matches {
  height: 50vh;
  width: 20vh;
}

.profileImage {
  height: 20vh;
}

.page-footer, .btn {
  background-color: rgb(82, 182, 161);
  /*background-color: rgb(97, 125, 141);*/
}
#emailSpan {
  padding-left: 10px;
}
