body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a.brand-logo, nav li a, i.material-icons {
  color: black;
}

#brain {
  max-height: 1em;
  vertical-align: center;
}

.material-icons {
  vertical-align: bottom;
  padding-bottom: 0.5vh;
}

#skills {
  max-height: 50vh;
  overflow: scroll;
}
